:root {
  --theme-color: #ffffff;
}

.container-wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-width: calc(1093px);
  min-height: calc(615px);
  max-width: calc(2048px);
  max-height: calc(1536px);
  background-color: #2e323f;
  overflow: hidden;
}

.container-wrap .bg {
  width: 100%;
  height: 100%;
  transform: scale(1.19);
  background-image: url(https://qiniu.sukoshi.xyz/src/images/68135789_p0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
}

.container-wrap .card-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 80%;
  color: var(--theme-color);
  border-radius: 46px;
  box-shadow: 20px 20px 60px #2c2e3b, -20px -20px 60px #3c3e4f;
}

.card-header {
  display: flex;
  align-items: center;
  height: 120px;
  padding: 40px 23px;
}

.card-header--title {
  flex: 1;
  display: flex;
  align-items: center;
  line-height: 32px;
  font-size: 32px;
  font-weight: bolder;
  font-family: monospace;
  overflow: hidden;
  padding-right: 20px;
}

.card-header--title .iconfont.icon-music {
  margin-right: 20px;
  font-size: 28px;
}

.card-header--title #song-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  user-select: none;
}

.card-header--options {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.card-header--options #setting-menu {
  transition: all 0.3s linear;
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;
}

.card-header--options #setting-menu:hover {
  opacity: 0.7;
}

.card-body {
  width: 100%;
  height: calc(100% - 120px);
  border-radius: 0 0 46px 46px;
  overflow: hidden;
}

.card-body canvas#music-canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.card-body .lrc-box {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  height: 90px;
  overflow: hidden;
}

.card-body #music-lrc {
  text-align: center;
  transition: transform 0.3s ease-out;
}

.card-body #music-lrc p {
  line-height: 30px;
  height: 30px;
  opacity: 0.6;
  transition: all 0.3s ease-out;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}

.card-body #music-lrc p.current {
  opacity: 1;
  font-size: 18px;
  font-weight: bolder;
}
